<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form action="login" method="post">
        <p><input type="text" name="name" placeholder="아이디"></p>
        <p><input type="text" name="passwd" placeholder="비밀번호"></p>
        <p><input type="submit" value="로그인"></p>
        <input type="button" class="btn" onclick=" location.href='/login/signup'" value="SIGNUP"/>
    </form>
</body>
</html>